* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	height: 100vh;
}

.app_title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-bottom: 90px;
}

.front_move {
	width: 200px;
	text-align: center;
	border-bottom: 2px solid currentColor;
}

.player_raiting {
	height: 30px;
	width: 300px;
}

.opponent_raiting {
	height: 30px;
	width: 300px;
}

.play_container {
	display: grid;
	grid-template-columns: 330px 150px 330px;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 330px;
}

.counter_container {
	display: flex;
	width: 150px;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.count_play {
	display: flex;
	justify-content: center;
}

.count_play_total {
	text-decoration: overline;
}

.battlefield {
	position: relative;
}

.battlefield_column {
	position: relative;
	width: 32px;
	height: 32px;
	border: 1px solid #42424626;
}

.battlefield_table {
	border-collapse: collapse;
	background: #c0c4f226;
}

.battlefield_item_active {
	background: #9190e17d;
}

.button_container_praparation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_container_bot {
	display: flex;
	justify-content: center;
	align-items: center;
}

.marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.marker_row {
	left: -35px;
}

.marker_column {
	top: -35px;
}

.pushable_ships, .pushable_play, .pushable_again {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background: #aaa9f6a1;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
	7px 7px 20px 0px rgba(0, 0, 0, .1),
	4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.pushable_ships:hover, .pushable_play:hover, .pushable_again:hover {
	background: linear-gradient(0deg, rgb(155, 155, 249) 0%, rgba(184, 215, 249, 0.727) 100%);
}


.ship {
	position: absolute;
	top: 0;
	left: 0;
	margin: -3px;
	border: 3px solid #0400ff;
	background: rgba(0, 55, 255, 0.45);
	width: 32px;
	height: 32px;
}

.ship-row-2 {
	width: 65px;
}

.ship-row-3 {
	width: 98px;
}

.ship-row-4 {
	width: 131px;
}

.ship-column-2 {
	height: 65px;
}

.ship-column-3 {
	height: 98px;
}

.ship-column-4 {
	height: 131px;
}

.shot {
	width: 32px;
	height: 32px;
	text-align: center;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
}

.shot_missed {
	color: rgb(39, 39, 39);
}

.shot_wounded {
	background: #fa9090;
	z-index: 1;
}

.shot_killed {
	color: red;
	font-size: 25px;
	margin: -3px;
	border: 3px solid red;
}
